
doctype html
html
  head
    title LinkIt
    link(rel='stylesheet', href='/stylesheets/style.css')
    include linkListHandlebars
  body
    #header
      #newLinkPanel
        label(for="linkNameInput") Link name&nbsp;
        input(type='text', name="linkNameInput")#linkNameInput
        br
        label(for="linkUrlInput") Link URL&nbsp;
        input(type='text', name="linkUrlInput")#linkUrlInput
        input(type='button' value='Post new Link')#saveLink
      #loginForm(class= current_user == null ?'' : 'hidden')
        label(for="loginInput") Login As
        input(type='text', name="username")#loginInput
        input(type='button' value='Login')#loginButton
      div
        #userInformation
          if current_user != null
            = 'Logged in as ' + current_user.name
        input(type='button' value='Logout' class= current_user == null ?'hidden' : '')#logoutButton
    h1 Links
    include linkList

    script(src="/javascripts/handlebars.js")
    script(src="/javascripts/jquery-1.11.2.js")
    script(src="/javascripts/script.js")
