script#handlebars-Template-linkitem(type="text/x-handlebars-template")
  | {{#each links}}
  li(data-id='{{id}}')
    .control
      button(type='button').upvoteButton &#x25B2;
      .ranking(id='rating-div-{{id}}') {{rating}}
      button(type='button').downvoteButton &#x25BC;
    .linkDetails
      h3 {{title}}
      p {{url}}
      p {{date}}
      p Created by {{ username }}
      | {{#if showDeleteButton}}
      button(type='button', data-id='{{id}}').deleteButton Delete
      | {{/if}}
  | {{/each}}
